# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

# Database
prisma/*.db
prisma/*.db-journal
prisma/*.db-wal
prisma/*.db-shm
*.sqlite
*.sqlite3
*.db
*.db-journal
*.db-wal
*.db-shm
data/runtime-secrets.json

# Uploads
public/uploads/*
!public/uploads/.gitkeep

# Scratch/temp files
scratch/
